h2 {
    text-align: center;
}

h3 {
    margin: 0px;
    font-size: 25px;
}

/* meny */

#bookmeny {
    height: 165px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.bookMeny {
    display: flex;
    gap: 20px;
    margin: 20px;
}

#rightmeny {
    display: flex;
    flex-direction: column;
}

#reloading {
    display: flex;
    flex-direction: column;
}

button {
    height: 40px;
    background-color: rgb(255, 208, 215);
    margin: 5px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

main {
    margin: 50px 0px;
}

#filtering,
#sort {
    width: 95px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;
}

#filterBtn,
#sortBtn {
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    padding: 0px 5px;
    position: relative;
    top: -4px;
    box-sizing: border-box;
}

#filtering:hover,
#sortBtn:hover,
.filterDiv:hover {
    font-weight: bold;
    text-decoration: underline;
}


#filterBtn.open::after {
    transform: translateY(-50%) rotate(180deg);
    /* snurra uppåt */
}

.filterDIV {
    border: 1px solid black;
}

#allFilters {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
    cursor: pointer;
    border: 1px solid black;
}



#allFilters.visible {
    display: inline-block;
    opacity: 1;
    position: relative;
    top: -8px;
    left: -1px;
    z-index: 1000;
}

.filterDiv,
.sortDiv {
    position: relative;
    display: inline-block;
    cursor: pointer;

    padding: 10px 5px;
    cursor: pointer;
    background-color: white;
    width: 120px;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.listInDiv {
    display: none;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 100%;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 200px;
    transition: opacity 0.3s ease;
    /* fade-in effekt */
}

/* Klass som aktiverar visning */
.listInDiv.visible {
    display: block;
    opacity: 1;
}

#authorsList p,
#allYearList p {
    cursor: pointer;
    list-style: none;
    padding: 5px;
}

#authorsList p:hover,
#allYearList p:hover {
    background-color: #f0f0f0;
}


/* filter */

#filterAndSearch {
    padding: 15px;
}

.filterPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


#allBooks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    gap: 30px;
    padding: 20px;
    max-width: 1200px;
    margin: 5px auto;
}

.book-card {
    background: white;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.book-card .book-title {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.book-card .book-serie {
    margin: 0;
    font-size: 14px;

}

.book-card .stars {
    margin: 5px 0;
}

.book-card .stars .filled {
    color: gold;
}

.editPic {
    width: 15px;
    height: 15px;
    background-image: url(../Bilder/edit.png);
    background-size: cover;
    margin-bottom: 10px;
    margin-left: auto;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.editPic:hover {
    box-shadow: 0 4px 10px rgb(0, 0, 0);
}

.editPic::after {
    content: "Edit book";
    position: absolute;
    bottom: 125%;
    /* placerar ovanför bilden */
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    /* osynlig som default */
    pointer-events: none;
    transition: opacity 0.2s;
}

.editPic:hover::after {
    opacity: 1;
    /* synlig vid hover */
}

#createBook {
    display: none;
    margin: 40px;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    height: 900px;
    border: solid 1px black;
    overflow-y: auto;
    background-color: white;
    box-sizing: border-box;
    z-index: 10;
    position: absolute;
    left: 170px;
}

#containerwrap {
    display: flex;
    gap: 20px;
}

.bigBox {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin: 8px 0px 8px 0px;
}

.bigBox p {
    margin-top: 10px;
}

.bigBox label {
    display: flex;
    align-items: center;
    margin-right: 26px;
}

#boxThree {
    display: flex;
    margin-top: 15px;
}

#boxThree p {
    margin: 2px;
}

.boxThreeHeadline {
    text-align: center;
}

#createBook input[type="text"] {
    flex: 1;
    min-width: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #d1d5db;
    height: 23px;
    width: auto;
}

#createBook input[type="radio"] {
    margin-left: 19px
}

#createBook p {
    font-weight: bold;
}

#quotes input[type="text"] {
    width: 90%;
    margin-left: 10px;
}

#bookTitle {
    width: 100%;
}

.booktype {
    display: flex;
}

#typeOfBook {
    display: flex;
}

#summary {
    width: 100%;
    height: 220px;
    overflow: scroll;
    border: 2px solid #d1d5db;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
    background: transparent;
}

#pic {
    width: 250px;
    height: 350px;
    border: 1px solid black;
}

.stars {
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
    /* tomma stjärnor */
}

.stars .filled {
    color: gold;
    /* fyllda stjärnor */
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating p {
    width: 83px;
}

#ratingBox {
    width: 50%;
    border-right: 1px solid #d1d5db;
}

#ratingBook {
    font-size: 22px;
}

.ratingBook {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.ratingBook p {
    font-size: 20px;
    font-weight: bold;
    margin: 2px;
}

#reloadMessage {
    visibility: hidden;
    margin: 0px;
    text-align: center;
}

#usedFilter {
    visibility: hidden;
}

/* logga in och registrera användare */
#registration {
    display: none;
}

#logInDiv {
    display: none;
}

#app {
    display: none;
}

#logoutBtn {
    position: absolute;
    top: 350px;
    left: 1269px;
}

#quotes {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#wrapper {
    position: relative;
}

#bigWrapper {
    display: flex;
    gap: 20px;
}

#sideMeny {
    display: flex;
    flex-direction: column;
    margin: 171px 0px;
}