#calenderWrap {
    display: flex;
    flex-direction: column;
}

#calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 150px);
    gap: 15px;
    padding: 15px;
    border: 1px solid black;
}

.day {
    border: 1px solid black;
}

.week {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 60px;
}

.week p {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

#weekDays {
    display: flex;
    justify-content: space-between;
}